<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Created by acanakdas with ♥ </div>
            <div>
                <a href="#">Hakkında</a>
                &middot;
            </div>
        </div>
    </div>
</footer>