@model UserResetPasswordDto

@{ 
    Layout = "_Layout";
    ViewBag.Title = "Şifre Değiştir";
}

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="text-center"><i class="fas fa-edit"></i> Şifre Değiştir</h4>
            </div>
            <div class="card-body">
                <form asp-action="ResetPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger" id="validationSummary"></div>

                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input type="password" class="form-control" asp-for="CurrentPassword" placeholder="Geçerli şifrenizi giriniz" />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input type="password" class="form-control" asp-for="NewPassword" placeholder="Yeni şifrenizi giriniz" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPasswordConfirm"></label>
                        <input type="password" class="form-control" asp-for="NewPasswordConfirm" placeholder="Geçerli şifrenizi tekrar giriniz" />
                        <span class="text-danger" asp-validation-for="NewPasswordConfirm"></span>
                    </div>
                   
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Değişiklikleri Kaydet</button>
                        <a class="btn btn-danger btn-block" asp-area="Admin" asp-controller="User" asp-action="ChangeUserDetails">Vazgeç</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
