@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Admin Area </h1>
    <h1> <a asp-area="" asp-controller="Home" asp-action="Index">Blog Area Alanına Git</a></h1>
</div>
